<% content_for :title, "Ver Idiomas" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/adminActions"  %>
  </div>

  <div class="view" id="listEvents">
    <div class="notifications">
    </div>

    <% @language.each do |lang|%>
        <div class="lang" id="<%=lang.id %>">
          <div class="name"><%=lang.name %></div>[<%=lang.code %>]
          <div class="action">
            <button class="delete">Eliminar</button>
          </div>
        </div>
    <% end %>

  </div>
</div>
