<% content_for :title, "Línguas" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/adminActions"  %>
  </div>

  <div class="view" id="languages">
    <div class="notifications">
    </div>

    <div class="new">
    <select id="newLang">
      <option value="volvo">Volvo</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>
    <button id="addLangBt" class="redButton">Adicionar Língua</button>
    </div>

    <% @language.each do |lang|%>
        <div class="lang" id="<%=lang.id %>">
          <div class="name"><%=lang.name %></div>
          <div class="action">
            <button class="delete">Eliminar</button>
          </div>
        </div>
    <% end %>

  </div>
</div>
