<% content_for :title, "Atualizar Evento" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/eventsActions"  %>
  </div>
  <div id="eventID" style="display: none">
    <%= @event.id %>
  </div>
  <div class="view" id="addEvent">
    <div class="notifications"></div>

    <form action="/events/<%=@event.id%>" method="post" onsubmit="return validateEditEvent()" enctype="multipart/form-data">
      <label style="font-size: 23px;float: left;margin-top: 1px;"> Evento publicado: </label>
      <div class="flatRoundedCheckbox">
        <%if @event.published == true %>
            <input type="checkbox" value="1" id="flatOneRoundedCheckbox" checked name="published">
        <%else%>
            <input type="checkbox" value="1" id="flatOneRoundedCheckbox" name="published">
        <%end%>
        <label for="flatOneRoundedCheckbox"></label>
        <div></div>
      </div>
      <div id="translations">
       <select id="languagesSelect">
          <% @languages.each do |language| %>
          <option value="<%= language.code%>"><%= language.name %></option>
        <% end %>
        </select>        
      </div>
      <input type="text" name="title" id="titleVal" placeholder="Título" value="<%=@event.title%>" />
      <input type="text" class="translation" name="translatedTitle" id="translatedTitleVal" placeholder="Traducao do Título" value="" />
      <input type="text" name="date" id="dateVal" placeholder="Data" value="<%=@event.date%>"/>
      <textarea placeholder="Inserir texto" name="content" id="contentVal"><%=@event.content%></textarea><br/>
      <div><textarea class="translation" placeholder="Traduza aqui o texto" name="translatedContent" id="translatedContentVal"></textarea></div>
      <div class="imagesArea-new">
        <div class="image-div">
          <div class="left">
          <%if @event.images[0]%>
              <img src="/data/<%=@event.images[0].hashcode%>" alt="<%=@event.images[0].name%>" id="preview1" width="85" height="91">
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview1", width: 85, height: 91)%>
          <%end%>
          <input type="file" name="image1" class="upload custom-file-input" id="image1Val" />
          </div>
          <div class="right">
            <%if @event.images[0]%>
                <input type="text" name="title_img1" class="title_img" placeholder="Título da imagem" value="<%=@event.images[0].title%>" />
                <input type="text" class="translation" name="translatedTitle_img1" id="translatedTitleImg1Val" placeholder="Traducao do Título da imagem" value="" />
                <textarea rows="3" placeholder="Legenda" name="caption1" class="captionText" id="caption1Val"><%=@event.images[0].caption%></textarea>
                <textarea class="translation" placeholder="Traduza aqui a legenda da imagem" name="translatedCaption1" id="translatedCaption1Val"></textarea>
            <%else%>
                <input type="text" name="title_img1" class="title_img" placeholder="Título da imagem" />
                <textarea rows="3" placeholder="Legenda" name="caption1" class="captionText" id="caption1Val"></textarea>
            <%end%>
          </div>
        </div>
        <div class="image-div">
          <div class="left">
          <%if @event.images[1]%>
              <img src="/data/<%=@event.images[1].hashcode%>" alt="<%=@event.images[1].name%>" id="preview2" width="85" height="91">
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview2", width: 85, height: 91) %>
          <%end%>
          <input type="file" name="image2" class="upload custom-file-input" id="image2Val"/>
          </div>
        <div class="right">
          <%if @event.images[1]%>
              <input type="text" name="title_img2" class="title_img" placeholder="Título da imagem" value="<%=@event.images[1].title%>"/>
              <input type="text" class="translation" name="translatedTitle_img2" id="translatedTitleImg2Val" placeholder="Traducao do Título da imagem" value="" />
              <textarea rows="3" placeholder="Legenda" name="caption2" class="captionText" id="caption2Val"><%=@event.images[1].caption%></textarea>
              <textarea class="translation" placeholder="Traduza aqui a legenda da imagem" name="translatedCaption2" id="translatedCaption2Val"></textarea>
          <%else%>
              <input type="text" name="title_img2" class="title_img" placeholder="Título da imagem" />
              <textarea rows="3" placeholder="Legenda" name="caption2" class="captionText" id="caption2Val"></textarea>
          <%end%>
        </div>
        </div>
        <div class="image-div">
          <div class="left">
          <%if @event.images[2]%>
              <img src="/data/<%=@event.images[2].hashcode%>" alt="<%=@event.images[2].name%>" id="preview3" width="85" height="91">
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview3", width: 85, height: 91) %>
          <%end%>
          <input type="file" name="image3" class="upload custom-file-input" id="image3Val" />
        </div>
          <div class="right">
            <%if @event.images[2]%>
                <input type="text" name="title_img3" class="title_img" placeholder="Título da imagem" value="<%=@event.images[2].title%>"/>
                <input type="text" class="translation" name="translatedTitle_img3" id="translatedTitleImg3Val" placeholder="Traducao do Título da imagem" value="" />
                <textarea rows="3" placeholder="Legenda" name="caption3" class="captionText" id="caption3Val"><%=@event.images[2].caption%></textarea>
                <textarea class="translation" placeholder="Traduza aqui a legenda da imagem" name="translatedCaption3" id="translatedCaption3Val"></textarea>
            <%else%>
                <input type="text" name="title_img3" class="title_img" placeholder="Título da imagem"/>
                <textarea rows="3" placeholder="Legenda" name="caption3" class="captionText" id="caption3Val"></textarea>
            <%end%>
          </div>
        </div>
      </div>
      <input name="_method" type="hidden" value="patch" />
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <button class="redButton" id="addEventButton">Atualizar Evento</button>
    </form>

  </div>

</div>
