<% content_for :title, "Atualizar Evento" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/eventsActions"  %>
  </div>

  <div class="view" id="addEvent">
    <div class="notifications"></div>

    <form action="/events/<%=@event.id%>" method="post" onsubmit="return validateAddEvent()" enctype="multipart/form-data">
      <input type="text" name="title" id="titleVal" placeholder="Título" value="<%=@event.title%>" />
      <input type="text" name="date" id="datepicker" placeholder="Data" value="<%=@event.date.to_date%>"/>
      <textarea rows="10" placeholder="Inserir texto" name="content" id="contentVal"><%=@event.content%></textarea><br/>
      <div class="imagesArea">
        <div class="image-div">
          <%if @event.images[0]%>
              <img src="/data/<%=@event.images[0].hashcode%>" alt="<%=@event.images[0].name%>" id="preview1" width="100" height="100">
              <br><label id="name-img1"><%=@event.images[0].name%></label>
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview1", width: 100, height: 100)%>
              <br><label id="name-img1">Sem imagem</label>
          <%end%>
          <input type="file" name="image1" class="upload" id="image1" />
        </div>

        <div class="image-div">
          <%if @event.images[1]%>
              <img src="/data/<%=@event.images[1].hashcode%>" alt="<%=@event.images[1].name%>" id="preview2" width="100" height="100">
              <br><label id="name-img2"><%=@event.images[1].name%></label>
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview2", width: 100, height: 100) %>
              <br><label id="name-img2">Sem imagem</label>
          <%end%>
          <input type="file" name="image2" class="upload" id="image2"/>
        </div>

        <div class="image-div">

          <%if @event.images[2]%>
              <img src="/data/<%=@event.images[2].hashcode%>" alt="<%=@event.images[2].name%>" id="preview3" width="100" height="100">
              <br><label id="name-img3"><%=@event.images[2].name%></label>
          <%else%>
              <%=image_tag("default-avatar.png", alt: "default image", id: "preview3", width: 100, height: 100) %>
              <br><label id="name-img3" >Sem imagem</label>
          <%end%>
          <input type="file" name="image3" class="upload" id="image3" />
        </div>

      </div>
      <input name="_method" type="hidden" value="patch" />
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <button class="redButton" id="addEventButton">Atualizar Evento</button>
    </form>

  </div>

</div>
