<% content_for :title, "Lista de Eventos" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/eventsActions"  %>
  </div>


  <div class="view" id="listEvents">
    <div class="notifications">
      <% if flash[:notice] %>
          <div class="success"><%=flash[:notice]%></div>
      <% end %>
    </div>
    <% @events.each do |event|%>
    <div class="event" id="<%=event.id %>">
     <%=truncate(event.title, :length => 20) %>
      <div class="action">
        <button class="delete">Eliminar</button>
        <a href="<%= edit_event_path(event.id)%>"><button>Ver</button></a>
      </div>
    </div>
    <% end %>
  </div>

</div>