<% content_for :title, "Adicionar Administrador" %>
<%= render :partial => "admin/header" %>
<div class="box">
  <%= render :partial => "admin/menu"  %>
  <div class="actions">
    <%= render :partial => "admin/adminActions"  %>
  </div>
  <div class="view" id="editAdmin">

    <div class="notifications">
    </div>
    <input type="text" id="nameVal" placeholder="Nome" value="<%=@administrator.name%>"/><br/>
    <input type="email" id="emailVal" placeholder="Email" value="<%=@administrator.email%>"/><br/>
    <input type="password" id="password1Val" placeholder="Nova password"/><br/>
    <input type="password" id="password2Val" placeholder="Confirme a password"/><br/>

    <button class="redButton" id="updateAdminButton" admin="<%=@administrator.id%>">Atualizar Administrador</button>
  </div>
</div>